<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>

    {% load static %}
    <title>
    	{% block title %}
        {% endblock %}
	</title>
    <meta name="author" content="Antonio Pérez Castro" />
    <meta name="robots" content="all"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="{% static 'base/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>
<body>
    <header class="flex navbar">
        <nav class="flex item">
            <a href="/aboutme">Sobre mí</a>
            <a href="">Creaciones</a>
            <a href="/cv">Portfolio</a>
            <a href="">Contacto</a>
        </nav>
    
        <h1 class="item"><a href="/"> Antonio Pérez Castro<span>PORTFOLIO</span></a></h1>
    </header>
        
    {% block content %}
    {% endblock %}

    <footer class="flex footer">
        <h7>
            Creado por : <a href="http://www.perez-castro.com">Antonio Pérez Castro</a>, 2016
        </h7>
    </footer>
</body>
</html>