{% extends "base/base.html" %}
{% block content %}
{% load static %}
<main class="wrapper">
	        
	<main class="creations">

		<p>Las webs que hay aquí enlazadas son creaciones mías como ejemplos de diseño en css, pasatiempos en Python o javaSript o alguna prueba que este realizando. Todo el código con su correspondiente licencia lo puedes ver <a href="https://github.com/Perezcastro/perez-castro.com">aquí.</a></p>
		<h2>

{# 	cambiar toda la parte de reaciones a CBV
 #} 
		<p>En construcción!</p>
{#         <article class="flex invie">

            <section class="photo item">
                <figure>
                    <img src="{% static 'images/creations/invie/invie.png' %}">
                </figure>
            </section>

            <section class="dark description item">
                <p class="subtitle"><span class="number">01.-</span>Invie</p>
                <p>Ejemplo de diseño moderno y atractivo sólo con CSS de una tienda online de <a href="https://en.wikipedia.org/wiki/Air_guitar">Air guitars</a>.</p>
            </section>

            <section class="title item">
                <h2><a href=""> Invie.com</a></h2>
            </section>
 #}
        </article>

	</main>
</main> 

{% endblock %}
