{% extends "base/base.html" %}
{% block content %}
{% load static %}
<main class="wrapper">
        

    <article class="flex cv">
        <section class="title item">
            <h1> Curriculum Vitae </h1>
        </section>


        <section class="dark description item">


            <h2>Estudios Reglados:</h2>
            <ul>
                <li>Bachliler En I.E.S Fernando III EL SANTO</li>
                <li>Cursado informática de gestión por la universidad de Córdoba 2011</li>
            </ul>
            <p>Cursos (<a href="https://platzi.com/">Platzi.com</a>):</p>
            <ul>
                <li>Diseño web, html5 y CSS3 </li>
                <li>Administración de sistemas Linux </li>
                <li>Administración de sistemas de Amazon Web Services </li>
                <li>Python y Django </li>
            </ul>
            <h2>Experiencia profesional:</h2>
            <ul>
                <li>Subdirector de limpieza Pimentel S.L , 3 años</li>
                <li>Programador web freelance, 2 años</li>
                <li>Técnico en hardware , toda la vida :-)</li>
                <li>Profesor de programación, álgebra, cálculo y bases de datos, de primero de ingeniería informática y grado superior.</li>
            </ul>
            
            <h2>Competencias técnicas </h2>
                <ol>
                    <li>
                        <h3>Lengajes de programación</h3>
                            <ul>
                                <li>C y C++</li>
                                <li>Java</li>
                                <li>JavaScript</li>
                            </ul>
                    </li>
                    <li>
                        <h3>Capacidades técnicas</h3>
                            <ul>
                                <li>Diseño,montaje y mantenimiento de equipos informáticos</li>
                                <li>Diseño de aplicaciones y soluciones informáticas usando metologías ágiles y arquitectura Restful</li>
                                <li>Conocimientos de gestión de servidores linux</li>
                                <li>Conocimientos de despliegue de aplicaciones bajo la plataforma Amazon</li>
                                <li>Manejo de herramientas de control de version y documentación</li>
                            </ul>
                    </li>
                    <li>
                        <h3>Idiomas</h3>
                            <ul>
                                <li>Castellano - nativo</li>
                                <li>Ingles , C1 por el Trinity College</li>
                            </ul>
                    </li>
                </ol>    

        </section>

    </article>

</main>

{% endblock %}

