{% extends "base/base.html" %}
{% block content %}
{% load static %}
<main class="wrapper">

        <main class="index">
            <article class="flex about">
    
                <section class="photo item">
                    <figure>
                        <img src="{% static 'images/fotoCV.png' %}">
                    </figure>
                </section>

                <section class="dark description item">
                    <p class="subtitle"><span class="number">01.-</span>Sobre mi</p>
                    <p>¿Quién soy ? ¿ Qué se hacer? ¿ Qué me gusta? O ¿de qué va esta web? Todo eso lo encontraras aquí</p>
                </section>

                <section class="title item">
                    <h2><a href="/aboutme">Sobre mí</a></h2>
                </section>

            </article>

            <article class="flex creation">
                
                <section class="dark title item">
                    <h2><a href="">Creaciones</a></h2>
                </section>

                <section class="image item">
                    <figure>
                        <img src="{% static 'images/Bombilla.png' %}">
                    </figure>
                </section>

                <section class="description item">
                    <p class="subttlie"><span class="number">02.-</span>Creaciones</p>
                    <p>Mis pequeñas creaciones, ya sean de cosecha propia, tutoriales de alguién o simples pruebas de código. Normalmente el código está en mi perfli de GitHub aunque hace poco hice limpieza. :-)</p>
                </section>

            </article>

            <article class="flex portfolio">
                <section class="description item">
                    <p class="subttitle"><span class="number">03.-</span>PORTFOLIO</p>
                    <ul>
                        <li>Estudios, reglados y no reglados</li>
                        <li>Competencias y aptitudes </li>
                        <li>Experiencia</li>
                    </ul>

                </section>
                
                <section class="image item">
                    <figure>
                        <img src="{% static 'images/libros.png' %}">
                    </figure>
                </section>

                <section class="dark title item">
                    <h2>
                        <a href="/cv">PORTFOLIO</a>
                    </h2>
                </section>

            </article>

            <article class="flex contact">
                <section class="description item">
                    <p class="subttitle"><span class="number">04.-</span>Contacto</p>

                </section>

                <section class="dark title item">
    
                    <h2 >perezcastro @ gmail.com</h2>

                </section>

<!--                 <section class="form item">
                    <form>
                        <fieldset>
                            <input type="emali" name="emali" placeholder="Introduce aquí tu emali">
                        </fieldset>
                        <input type="submit" name="enviar" class="miButton">
                    </form>
                </section> -->

                <section class="image item">

                    <ul>
                        <li>
                            <a href="https://www.facebook.com/antonio.perezcastro.3" target="_blank">
                            <figure>
                                <img src="{% static 'images/fb.png' %}">
                            </figure>        
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/APC_1986" target="_blank">
                            <figure>
                                <img src="{% static 'images/twitter.jpg' %}">
                            </figure>        
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Perezcastro" target="_blank">
                            <figure>
                                <img src="{% static 'images/github.png' %}">
                            </figure>        
                            </a>
                        </li
>                    </ul>
                    
                </section>

            </article>
        </main>

    </main>

{% endblock %}
